body{  

    /* background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url("./images/backgroundimg.png"); */
    /* by using above line only opacity of ackground image is decreased and html doesnt get affected*/
    background-image: url("./images/background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    
   
  }

.container{
    
    width: 90vw;
    margin: 5%;
    background: rgba(225, 225, 225, 0.5);
    border-radius: 25px;
}
#main{ 
    padding: 7%;
    padding-top: 4%; 
}  
.small{
    height: 5vh;
    width: 2.5vw;
}

.logo-extra{
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 10px;
    
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
    color: #290001;
}
.log{
    position: relative;
    bottom: 0.5rem;
}
.logo-pic{
    height: 5vh;
    width: 2.5vw;
}
.logo-tag{
    margin: 0;
}
.nav-opt{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    
}
.flav{
    font-size:4vh;
}
a{
    color: #290001;
    text-decoration: none;
}

#home{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0%;
    
}
.homecoffee{
    height: 35em;
    width: 35em;
}
h1{
    font-size: 9vh;
    color: #290001;
    padding: 0;
    margin: 0;
}

.but{
    border-radius: 10em;
    border-style:solid;
    height: 8.5vh;
    width: 12vw;
    background-color: #290001;
    color: white;
    padding: 0;
    margin: 0  ;
    font-size: 2.3vh;
    border: none;
}
.but:hover{
    cursor:pointer;
}
.shop{
    width:9vw ;
    height: 6vh;
    font-size: 2.4vh;
}
.homediv{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70vh;
    
}
.homeimages{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    width: 25vw;
    
}
.img{
    height: 2.5rem;
    width: 2.5rem;
    background: rgba(225, 225, 225, 0.8);
    border-radius: 17px;
    padding: 2%;
    
}
#menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

.card-img{
    height: 32vh;
    width: 15vw;
    position: relative;
    top: 9vh;
    left: 2.5vw;

}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(225, 225, 225, 0.8);
    height: 30vh;
    width: 15vw;
    padding: 2rem;
    border-radius: 25px;
    color: #290001;
}
.images{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    
}
.cimg{
    background: rgba(87, 84, 84, 0.1);
    border-radius: 10px;
    padding: 1vh;
    height: 3.7vh;
    width: 2vw;
}
.sect{
    color: #290001;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 9vh;
}
.but1{
    width: 7vw;
    height: 7vh;
    position: relative;
    bottom: 4vh;
    left: 6vw;
    font-size: 2vh;  
}
.but1:hover{
    cursor: default;
}
h3{
    font-size: 7vh;
    color: #290001;

}
h4{
    font-size: 3vh;
}
p{
    color: #290001;
}
.learn-more{
    background: linear-gradient(90deg, rgba(41,0,1,1) 0%, rgba(57,2,3,1) 35%, rgba(126,44,2,1) 100%);
    width:9vw ;
    height: 6vh;
    font-size: 1.8vh;
}


#about-us{
    padding-top: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.about-first{
    width: 35vw;
}
#contact-us{
    padding-top: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contact-now{
    position: relative;
    top: 3.5vh;
}
.con-text{
    padding: 0;
    margin: 0;
}
.tex1{
    color: #87431D;
}
hr{
    height:2px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    color:#87431D;
    
    padding: 2rem;
}

#footer-section{
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    color: #290001;
    
}
.footer2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 5rem;
}
.footer-text{
    width: 63vw;
}
.footer-logo{
    color: white;
}
.foot{
    position: relative;
    top: 3vh;
}

@media (max-width:600px) {
    body{
        background-size:cover;
     
    }
    .nav-opt{
        display: none;
    }
    /* #home{
        display: flex;
        flex-direction: column;
        
    } */
    h1{
        font-size: 2rem;
    }
    .homecoffee{
        position: relative;
        bottom: 13.5vh;
        
        display: inline;
        
    }
    .but{
       
        height: 2.5rem;
        width: 8rem;
        font-size: 1rem;
    }
    .bigimg{
        height: 170px;
        width: 170px;
    }
    #home{
        padding-left: 0;
        margin: 0;
        
        display: inline-flex;
    }
    .homediv{
        padding: 0;
        margin: 0;
        width: 40vw;
        height: 50vh;
        
    }
    .container{
    
        
        background: rgba(225, 225, 225, 0.5);
        border-radius: 25px;
    }
    .homeimages{
        position: relative;
        left: 4.5rem;
    }
    .img{
        
        margin-left: 2rem;
        
    }
    #menu{
        display: flex;
        flex-direction: column;
    }
    .card{
        width: 62vw;
        
    }
    .card-img{
        height: 10rem;
        width: 10rem;
        left: 4rem;
        z-index: 1;
    }
    .cimg{
        height: 2.5rem;
        width: 2.5rem;
    }
    .but1{
        width: 6rem;
        height: 3rem;
        bottom: 4vh;
        left: 6rem;
        font-size: 2vh;  
    }
    .sect{
        width: 70vw;
    }
    .about-first{
        width: 50vw;
    }
    .big-coffee{
        position: relative;
        top: 8rem;
        right: 2.2rem;
        height: 170px;
        width: 170px;
        
        
    }
    #contact-us{
        
        flex-direction: column;
        justify-content: space-between;
    }
    .footer-text{
        width:70vw;
    }
    .footer2{
        flex-direction: column;

        padding-top: 5rem;
    }
    .logo-pic{
        height: 3rem;
        width: 3rem;
    }
    h3{
        font-size: 2.3rem;
    }
    .small-div{
        width: 35vw;
    }
    .menudiv{
        padding: 0%;
    }
    
    .logo-tag{
        font-size: 0.75rem;
    }
    .flav{
        font-size: 1.2rem;
    }
    .log{
        height: 1.5rem;
        width: 1.5rem;
        top: 0;
        bottom: 0;
    }
}